{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
{% spaceless %}
<div class="field">
    <div class="label">
        {{ form_label(form) }}
    </div>
    <div class="error">
        {{ form_errors(form) }}
    </div>
    <div class="widget">
        {{ form_widget(form) }}
    </div>
</div>
{% endspaceless %}
{% endblock form_row %}

{% block form_label %}
    {{ parent() }}
    {% if required %}
        <span class="required" title="This field is required">*</span>
    {% endif %}
{% endblock %}

{% block form_widget_simple %}
    {{ parent() }}
    {% if help is defined %}
        <span class="help">{{ help }}</span>
    {% endif %}
{% endblock %}